<!-- views/add.ejs -->
<%- include('header', { user: user }) %>
<main>
  <form action="/admin/add" method="post">
    <div class="container">
      <input type="text" name="name" placeholder="Название" required>
      <input type="number" name="length" placeholder="Длина" required>
      <button type="submit">Добавить</button>
    </div>
  </form>
  <form action="/">
    <button type="submit">Отмена</button>
  </form>
</main>
<%- include('footer') %>
<link rel="stylesheet" href="/auth.css">
